
body {
	margin: 0;
	line-height: inherit;
    background-color: #fafafa;
}

h2,
h3 {
	font-size: inherit;
	font-weight: inherit;
}

a {
	color: inherit;
	text-decoration: inherit;
}

table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}

button {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

button {
	text-transform: none;
}

button {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}

h2,
h3,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

[role=button],
button {
	cursor: pointer;
}

:disabled {
	cursor: default;
}

img,
svg {
	display: block;
	vertical-align: middle;
}

img {
	max-width: 100%;
	height: auto;
}

:root,
[data-theme] {
	background-color: var(--fallback-b1, oklch(var(--b1)/1));
	color: var(--fallback-bc, oklch(var(--bc)/1));
}

html {
	-webkit-tap-highlight-color: transparent;
}

:root {
	color-scheme: light;
	--in: 72.06% 0.191 231.6;
	--su: 64.8% 0.150 160;
	--wa: 84.71% 0.199 83.87;
	--er: 71.76% 0.221 22.18;
	--pc: 89.824% 0.06192 275.75;
	--ac: 15.352% 0.0368 183.61;
	--inc: 0% 0 0;
	--suc: 0% 0 0;
	--wac: 0% 0 0;
	--erc: 0% 0 0;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--p: 49.12% 0.3096 275.75;
	--s: 69.71% 0.329 342.55;
	--sc: 98.71% 0.0106 342.55;
	--a: 76.76% 0.184 183.61;
	--n: 32.1785% 0.02476 255.701624;
	--nc: 89.4994% 0.011585 252.096176;
	--b1: 100% 0 0;
	--b2: 96.1151% 0 0;
	--b3: 92.4169% 0.00108 197.137559;
	--bc: 27.8078% 0.029596 256.847952;
}

@media (prefers-color-scheme:dark) {
	:root {
		color-scheme: dark;
		--in: 72.06% 0.191 231.6;
		--su: 64.8% 0.150 160;
		--wa: 84.71% 0.199 83.87;
		--er: 71.76% 0.221 22.18;
		--pc: 13.138% 0.0392 275.75;
		--sc: 14.96% 0.052 342.55;
		--ac: 14.902% 0.0334 183.61;
		--inc: 0% 0 0;
		--suc: 0% 0 0;
		--wac: 0% 0 0;
		--erc: 0% 0 0;
		--rounded-box: 1rem;
		--rounded-btn: 0.5rem;
		--rounded-badge: 1.9rem;
		--animation-btn: 0.25s;
		--animation-input: .2s;
		--btn-focus-scale: 0.95;
		--border-btn: 1px;
		--tab-border: 1px;
		--tab-radius: 0.5rem;
		--p: 65.69% 0.196 275.75;
		--s: 74.8% 0.26 342.55;
		--a: 74.51% 0.167 183.61;
		--n: 31.3815% 0.021108 254.139175;
		--nc: 74.6477% 0.0216 264.435964;
		--b1: 25.3267% 0.015896 252.417568;
		--b2: 23.2607% 0.013807 253.100675;
		--b3: 21.1484% 0.01165 254.087939;
		--bc: 74.6477% 0.0216 264.435964;
	}
}

[data-theme=lemonade] {
	color-scheme: light;
	--b2: 91.8003% 0.0186 123.72;
	--b3: 84.8906% 0.0172 123.72;
	--bc: 19.742% 0.004 123.72;
	--pc: 11.784% 0.0398 134.6;
	--sc: 15.55% 0.0392 111.09;
	--ac: 17.078% 0.0402 100.73;
	--nc: 86.196% 0.015 108.6;
	--inc: 17.238% 0.0094 224.14;
	--suc: 17.238% 0.0094 157.85;
	--wac: 17.238% 0.0094 102.15;
	--erc: 17.238% 0.0094 25.85;
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: .2s;
	--btn-focus-scale: 0.95;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
	--p: 58.92% 0.199 134.6;
	--s: 77.75% 0.196 111.09;
	--a: 85.39% 0.201 100.73;
	--n: 30.98% 0.075 108.6;
	--b1: 98.71% 0.02 123.72;
	--in: 86.19% 0.047 224.14;
	--su: 86.19% 0.047 157.85;
	--wa: 86.19% 0.047 102.15;
	--er: 86.19% 0.047 25.85;
}

*,
:after,
:before {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-scroll-snap-strictness: proximity;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, .5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
}

.container {
	width: 100%;
}

@media (min-width:640px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width:768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width:1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width:1280px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width:1536px) {
	.container {
		max-width: 1536px;
	}
}

.avatar {
	position: relative;
	display: inline-flex;
}

.avatar>div {
	display: block;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.avatar img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

@media (hover:hover) {
	.menu li>:not(ul, .menu-title, details, .btn):active {
		--tw-bg-opacity: 1;
		background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
		--tw-text-opacity: 1;
		color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)));
	}
}

.btn {
	display: inline-flex;
	height: 3rem;
	min-height: 3rem;
	flex-shrink: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-radius: var(--rounded-btn, .5rem);
	border-color: transparent;
	border-color: oklch(var(--btn-color, var(--b2))/var(--tw-border-opacity));
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	font-size: .875rem;
	line-height: 1em;
	gap: .5rem;
	font-weight: 600;
	text-decoration-line: none;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0, 0, .2, 1);
	border-width: var(--border-btn, 1px);
	animation: button-pop var(--animation-btn, .25s) ease-out;
	transition-property: color, background-color, border-color, opacity, box-shadow, transform;
	--tw-text-opacity: 1;
	color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	outline-color: var(--fallback-bc, oklch(var(--bc)/1));
	background-color: oklch(var(--btn-color, var(--b2))/var(--tw-bg-opacity));
	--tw-bg-opacity: 1;
	--tw-border-opacity: 1;
}

.btn:disabled {
	pointer-events: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown>:not(summary):focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.dropdown .dropdown-content {
	position: absolute;
}

.dropdown:is(:not(details)) .dropdown-content {
	visibility: hidden;
	opacity: 0;
	transform-origin: top;
	--tw-scale-x: .95;
	--tw-scale-y: .95;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-timing-function: cubic-bezier(0, 0, .2, 1);
	transition-duration: .2s;
}

.dropdown-end .dropdown-content {
	inset-inline-end: 0;
}

.dropdown:not(.dropdown-hover):focus .dropdown-content {
	visibility: visible;
	opacity: 1;
}

@media (hover:hover) {
	.btn:hover {
		--tw-border-opacity: 1;
		border-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-border-opacity)));
		--tw-bg-opacity: 1;
		background-color: var(--fallback-b3, oklch(var(--b3)/var(--tw-bg-opacity)));
	}

	.btn-ghost:hover {
		border-color: transparent;
	}

	.btn-outline:hover {
		--tw-border-opacity: 1;
		border-color: var(--fallback-bc, oklch(var(--bc)/var(--tw-border-opacity)));
		--tw-bg-opacity: 1;
		background-color: var(--fallback-bc, oklch(var(--bc)/var(--tw-bg-opacity)));
		--tw-text-opacity: 1;
		color: var(--fallback-b1, oklch(var(--b1)/var(--tw-text-opacity)));
	}

	.btn:disabled:hover {
		--tw-border-opacity: 0;
		background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
		--tw-bg-opacity: 0.2;
		color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
		--tw-text-opacity: 0.2;
	}

	:where(.menu li:not(.menu-title, .disabled)>:not(ul, details, .menu-title)):not(.active, .btn):hover {
		cursor: pointer;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

.join {
	display: inline-flex;
	align-items: stretch;
	border-radius: var(--rounded-btn, .5rem);
}

.join :where(.join-item) {
	border-start-end-radius: 0;
	border-end-end-radius: 0;
	border-end-start-radius: 0;
	border-start-start-radius: 0;
}

.join .join-item:not(:first-child):not(:last-child) {
	border-start-end-radius: 0;
	border-end-end-radius: 0;
	border-end-start-radius: 0;
	border-start-start-radius: 0;
}

.join .join-item:first-child:not(:last-child) {
	border-start-end-radius: 0;
	border-end-end-radius: 0;
}

.join :where(.join-item:first-child:not(:last-child)) {
	border-end-start-radius: inherit;
	border-start-start-radius: inherit;
}

.join .join-item:last-child:not(:first-child) {
	border-end-start-radius: 0;
	border-start-start-radius: 0;
}

.join :where(.join-item:last-child:not(:first-child)),
.join :where(:last-child:not(:first-child) .join-item) {
	border-start-end-radius: inherit;
	border-end-end-radius: inherit;
}

.menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: .875rem;
	line-height: 1.25rem;
	padding: .5rem;
}

.menu :where(li:not(.menu-title)>:not(ul, details, .menu-title, .btn)) {
	display: grid;
	grid-auto-flow: column;
	align-content: flex-start;
	align-items: center;
	gap: .5rem;
	grid-auto-columns: minmax(auto, max-content) auto max-content;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

:where(.menu li) {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
}

.navbar {
	display: flex;
	align-items: center;
	padding: var(--navbar-padding, .5rem);
	min-height: 4rem;
	width: 100%;
}

:where(.navbar>:not(script, style)) {
	display: inline-flex;
	align-items: center;
}

.navbar-start {
	width: 50%;
	justify-content: flex-start;
}

.navbar-center {
	flex-shrink: 0;
}

.navbar-end {
	width: 50%;
	justify-content: flex-end;
}

.table {
	position: relative;
	width: 100%;
	border-radius: var(--rounded-box, 1rem);
}

.table {
	text-align: left;
	font-size: .875rem;
	line-height: 1.25rem;
}

.btn:active:focus,
.btn:active:hover {
	animation: button-pop 0s ease-out;
	transform: scale(var(--btn-focus-scale, .97));
}

.btn-ghost {
	border-width: 1px;
	border-color: transparent;
	background-color: transparent;
	color: currentColor;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	outline-color: currentColor;
}

.btn-outline {
	border-color: currentColor;
	background-color: transparent;
	--tw-text-opacity: 1;
	color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn:disabled {
	--tw-border-opacity: 0;
	background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
	--tw-bg-opacity: 0.2;
	color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
	--tw-text-opacity: 0.2;
}

.dropdown:focus .dropdown-content {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.join>:where(:not(:first-child)) {
	margin-top: 0;
	margin-bottom: 0;
	margin-inline-start: -1px;
}

.join-item:focus {
	isolation: isolate;
}

:where(.menu li:empty) {
	--tw-bg-opacity: 1;
	background-color: var(--fallback-bc, oklch(var(--bc)/var(--tw-bg-opacity)));
	opacity: .1;
	margin: .5rem 1rem;
	height: 1px;
}

.menu :where(li:not(.menu-title)>:not(ul, details, .menu-title, .btn)) {
	border-radius: var(--rounded-btn, .5rem);
	padding: .5rem 1rem;
	text-align: start;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-timing-function: cubic-bezier(0, 0, .2, 1);
	transition-duration: .2s;
	text-wrap: balance;
}

:where(.menu li:not(.menu-title, .disabled)>:not(ul, details, .menu-title)):not(summary, .active, .btn):focus {
	cursor: pointer;
	background-color: var(--fallback-bc, oklch(var(--bc)/.1));
	--tw-text-opacity: 1;
	color: var(--fallback-bc, oklch(var(--bc)/var(--tw-text-opacity)));
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.menu li>:not(ul, .menu-title, details, .btn):active {
	--tw-bg-opacity: 1;
	background-color: var(--fallback-n, oklch(var(--n)/var(--tw-bg-opacity)));
	--tw-text-opacity: 1;
	color: var(--fallback-nc, oklch(var(--nc)/var(--tw-text-opacity)));
}

.table :where(th, td) {
	padding: .75rem 1rem;
	vertical-align: middle;
}

.table :where(thead, tbody) :where(tr:first-child:last-child) {
	border-bottom-width: 1px;
	--tw-border-opacity: 1;
	border-bottom-color: var(--fallback-b2, oklch(var(--b2)/var(--tw-border-opacity)));
}

.table :where(thead, tfoot) {
	white-space: nowrap;
	font-size: .75rem;
	line-height: 1rem;
	font-weight: 700;
	color: var(--fallback-bc, oklch(var(--bc)/.6));
}

.menu-horizontal {
	display: inline-flex;
	flex-direction: row;
}

.avatar.online:before {
	background-color: var(--fallback-su, oklch(var(--su)/var(--tw-bg-opacity)));
}

.avatar.online:before {
	content: "";
	position: absolute;
	z-index: 10;
	display: block;
	border-radius: 9999px;
	--tw-bg-opacity: 1;
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--fallback-b1, oklch(var(--b1)/1));
	width: 15%;
	height: 15%;
	top: 7%;
	right: 7%;
}

.menu-sm :where(li:not(.menu-title)>:not(ul, details, .menu-title)) {
	border-radius: var(--rounded-btn, .5rem);
	padding: .25rem .75rem;
	font-size: .875rem;
	line-height: 1.25rem;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.-top-4 {
	top: -1rem;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}

.z-10 {
	z-index: 10;
}

.z-\[1\] {
	z-index: 1;
}

.mx-2 {
	margin-left: .5rem;
	margin-right: .5rem;
}

.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
}

.mt-1 {
	margin-top: .25rem;
}

.mt-3 {
	margin-top: .75rem;
}

.mt-4 {
	margin-top: 1rem;
}

.mt-5 {
	margin-top: 1.25rem;
}

.mt-6 {
	margin-top: 1.5rem;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.table {
	display: table;
}

.grid {
	display: grid;
}

.hidden {
	display: none;
}

.h-12 {
	height: 3rem;
}

.h-5 {
	height: 1.25rem;
}

.h-8 {
	height: 2rem;
}

.h-full {
	height: 100%;
}

.min-h-screen {
	min-height: 100vh;
}

.w-10 {
	width: 2.5rem;
}

.w-12 {
	width: 3rem;
}

.w-5 {
	width: 1.25rem;
}

.w-52 {
	width: 13rem;
}

.w-64 {
	width: 16rem;
}

.w-full {
	width: 100%;
}

.max-w-7xl {
	max-width: 80rem;
}

.flex-1 {
	flex: 1 1 0%;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.gap-x-3 {
	-moz-column-gap: .75rem;
	column-gap: .75rem;
}

.gap-y-8 {
	row-gap: 2rem;
}

.space-x-3>:not([hidden])~:not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(.75rem * var(--tw-space-x-reverse));
	margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-1>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(.25rem * var(--tw-space-y-reverse));
}

.space-y-3>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.space-y-8>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.self-center {
	align-self: center;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-y-auto {
	overflow-y: auto;
}

.rounded-box {
	border-radius: var(--rounded-box, 1rem);
}

.rounded-full {
	border-radius: 9999px;
}

.rounded-lg {
	border-radius: .5rem;
}

.rounded-l-\[50\%\] {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.rounded-r-\[50\%\] {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.border-b-2 {
	border-bottom-width: 2px;
}

.border-white {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255/var(--tw-border-opacity));
}

.bg-\[\#b1d6b1\] {
	--tw-bg-opacity: 1;
	background-color: rgb(177 214 177/var(--tw-bg-opacity));
}

.bg-\[\#d1eed1\] {
	--tw-bg-opacity: 1;
	background-color: rgb(209 238 209/var(--tw-bg-opacity));
}

.bg-\[\#eaecea\] {
	--tw-bg-opacity: 1;
	background-color: rgb(234 236 234/var(--tw-bg-opacity));
}

.bg-base-100 {
	--tw-bg-opacity: 1;
	background-color: var(--fallback-b1, oklch(var(--b1)/var(--tw-bg-opacity)));
}

.fill-current {
	fill: currentColor;
}

.p-1 {
	padding: .25rem;
}

.p-2 {
	padding: .5rem;
}

.px-1 {
	padding-left: .25rem;
	padding-right: .25rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.py-2 {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.pr-6 {
	padding-right: 1.5rem;
}

.pt-2\.5 {
	padding-top: .625rem;
}

.text-center {
	text-align: center;
}

.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-sm {
	font-size: .875rem;
	line-height: 1.25rem;
}

.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}

.text-gray-600 {
	--tw-text-opacity: 1;
	color: rgb(75 85 99/var(--tw-text-opacity));
}

.text-red-500 {
	--tw-text-opacity: 1;
	color: rgb(239 68 68/var(--tw-text-opacity));
}

.text-red-600 {
	--tw-text-opacity: 1;
	color: rgb(220 38 38/var(--tw-text-opacity));
}

.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
}

.shadow {
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}

.hover\:bg-\[\#46ac46\]:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(70 172 70/var(--tw-bg-opacity));
}

.hover\:bg-\[\#4bb14b57\]:hover {
	background-color: #4bb14b57;
}

.hover\:bg-gray-100:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246/var(--tw-bg-opacity));
}

@media (min-width:640px) {
	.sm\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width:768px) {
	.md\:block {
		display: block;
	}

	.md\:hidden {
		display: none;
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:justify-start {
		justify-content: flex-start;
	}

	.md\:pr-0 {
		padding-right: 0;
	}

	.md\:text-left {
		text-align: left;
	}
}

@media (min-width:1024px) {
	.lg\:flex {
		display: flex;
	}

	.lg\:hidden {
		display: none;
	}

	.lg\:w-1\/3 {
		width: 33.333333%;
	}

	.lg\:w-2\/3 {
		width: 66.666667%;
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:justify-start {
		justify-content: flex-start;
	}

	.lg\:space-y-0>:not([hidden])~:not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse));
	}
}

/*! CSS Used keyframes */
@keyframes button-pop {
	0% {
		transform: scale(var(--btn-focus-scale, .98));
	}

	40% {
		transform: scale(1.02);
	}

	to {
		transform: scale(1);
	}
}
